.vendors
  - current = @vendor || Translation::DEFAULT_VENDOR
  - Translation::VENDORS.each do |v|
    = radio_button_tag 'translation[vendor]', v, v == current
    = label_tag "translation_vendor_#{v}", v.capitalize
