// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  justify-content: left;
}
.left {
  grid-column-start: 1;
  grid-column-end: 1;
}
.right {
  grid-column-start: 2;
  grid-column-end: 2;
}
.translator {
  .vendors {
    float:right;
    padding-bottom: 10px;
  }
  .from, .to {
    display:block;
    margin-bottom:5px;
  }
  #input {
    width:415px;
    height:150px;
  }
  #output {
    border: 1px solid black;
    width:415px;
    height:150px;
    padding: 2px;
  }
}
