---
http_interactions:
- request:
    method: post
    uri: https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&from=ru&to=en
    body:
      encoding: UTF-8
      string: '[{"Text":"Всем привет!"}]'
    headers:
      Ocp-Apim-Subscription-Key:
      - 32e6bf9747bf434e854e33a68b404639
      Ocp-Apim-Subscription-Region:
      - westeurope
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mt-System:
      - Microsoft
      X-Requestid:
      - TRAN.SN3P.33ED.1014T1243.119BCA2
      X-Metered-Usage:
      - '12'
    body:
      encoding: UTF-8
      string: '[{"translations":[{"text":"Hello world!","to":"en"}]}]'
  recorded_at: Wed, 14 Oct 2020 12:43:41 GMT
recorded_with: VCR 6.0.0
